nav{
	height: auto;
    width: auto;
    background-color: #DDEAF9;
    margin-bottom: 15px;
};

.search-container{
    background-color: #DDEAF9;
    padding: 15px;
    margin-bottom: 15px;
}

footer{
    background-color: #DDEAF9;
}

.country-card{
    background-color: #CAE0F9;
    padding: 20px;
    margin-bottom: 15px;
}